.comments {
  margin-top: 20px;
  margin-bottom: 50px;
  position: relative;
  height: auto;
}

.comments-title {
  font-size: 30px;
  margin-bottom: 20px;
}

.comments-container {
  margin-top: 40px;
}

.comment-form-title {
  font-size: 22px;
}

.comment-form-button {
  font-size: 16px;
  padding: 8px 16px;
  background: rgb(116, 72, 133);
  border-radius: 8px;
  color: white;
  border: none;
}

.comment-form-button:hover:enabled {
  cursor: pointer;
  background: rgb(193, 156, 211);
}

.comment-form-button:disabled {
  opacity: 0.5;
  cursor: default;
  position: absolute;
}

.comment-form-cancel-button {
  margin-left: 10px;
}

.comment {
  margin-bottom: 6em;
  /* Rectangle 38 */
  display: flex;
  width: 509px;
  height: 154px;
  padding-top: 1em;
  padding-left: 2em;
  background: #fffdf5;
  box-shadow: 0px 4px 20px rgba(24, 24, 24, 0.05);
  /* Заказываю постоянно одежду в этом магазине! Хорошие цены, хорошее качество! Приятные менеджеры! Все быстро, доступно, удобно! Спасибо. */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;

  /* or 20px */

  color: #2e2842;
}

.comment-image-container {
  margin-right: 12px;
}

.comment-image-container img {
  border-radius: 50px;
}

.comment-right-part {
  width: 65%;
}

.comment-content {
  display: flex;
}

.comment-author {
  margin-right: 8px;
  font-size: 20px;
  color: rgb(78, 128, 227);
}

.comment-text {
  font-size: 18px;
}

.comment-actions {
  display: flex;
  gap: 2em;
}

.c-1 {
  font-size: 14px;
  width: 90px;
  border-radius: 20px;
  height: 20px;
  align-items: center;
  text-align: center;
  background-color: #c6a9cc;
  color: rgb(35, 27, 37);
  cursor: pointer;
  margin-top: 8px;
}
.c-2 {
  font-size: 14px;
  width: 130px;
  border-radius: 20px;
  height: 20px;
  align-items: center;
  text-align: center;
  background-color: #c6a9cc;
  color: rgb(35, 27, 37);
  cursor: pointer;
  margin-top: 8px;
}

.comment-action:hover {
  text-decoration: underline;
}

.replies {
  margin-top: 20px;
}
.comment-form-textarea {
  width: 300px;
}
.up {
  position: relative;
  top: 12em;
  left: 6em;
}
.bg-comment {
  height: auto;
}
.sp {
}
